@mixin card-theme($header-bg, $content-bg, $header-font, $header-weight) {
  .content {
    padding-inline: 12px;
    background-color: $content-bg;
    height: 100%;
    overflow: hidden;
  }

  .header {
    background-color: $header-bg;

    > h2 {
      color: #ffffff;
      font-family: $header-font;
      font-weight: $header-weight;
      margin: 0;
      padding: 16px 12px;
    }
  }
}

@mixin button-theme($bg, $color, $hover-bg, $padding: 10px 16px, $font-size) {
  background-color: $bg;
  color: $color;
  padding: $padding;
  font-size: $font-size;
  font-weight: 300;
  font-family: 'Roboto';

  &:hover {
    background-color: $hover-bg;
  }
}
