@use '../../styles/mixins' as mixins;

.card {
  max-height: 630px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1024px) {
    height: 630px;
  }

  .tableTitle {
    margin: 24px 0 0 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.minimal {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @include mixins.card-theme(#37003c, #ffffff, 'Inter', 500);
}

.energetic {
  @include mixins.card-theme(#002e26, #002e26, 'Montserrat', 400);
}

.centric {
  @include mixins.card-theme(#006633, #ffffff, 'Space Mono', 500);
}

.errorMessage {
  font-family: 'Inter';
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 12px;
}
