.card{
  max-height: 630px;
}

.minimal {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .content {
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .header {
    background-color: #37003c;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    > h2 {
      color: #ffffff;
      font-family: 'Inter';
      font-weight: 500;
      margin: 0;
      padding: 16px 12px;
    }
  }
}

.energetic {
  font-family: 'Roboto';
  .content {
    background-color: #002e26;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 12px;
  }

  .header {
    background-color: #002e26;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    > h2 {
      color: #ffffff;
      font-family: 'Montserrat';
      font-weight: 400;
      margin: 0;
      padding: 16px 12px;
    }
  }

  .tableTitle {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-top: 48px;
  }
}

.centric {
  font-family: 'Space mono';
  .content {
    background-color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 12px;
  }

  .header {
    background-color: #006633;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    > h2 {
      color: #ffffff;
      font-family: 'Montserrat';
      font-weight: 400;
      margin: 0;
      padding: 16px 12px;
    }
  }

  .tableTitle {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-top: 48px;
  }
}