@use '../../styles/mixins' as mixins;

.minimal {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @include mixins.card-theme(#37003c, #ffffff, 'Inter', 500);
}

.energetic {
  @include mixins.card-theme(#002e26, #002e26, 'Montserrat', 400);
}

.centric {
  @include mixins.card-theme(#006633, #ffffff, 'Space Mono', 500);
}
