.layout {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
