.layout {
  padding: 20px;
  background-color: rgb(226, 221, 221);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
