.minimal.entity {
  font-family: 'Roboto';
  .entityForm {
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 12px;
    > h3 {
      margin: 0 0 12px 0;
    }

    > div {
      display: flex;
      gap: 8px;

      > input,
      select {
        border-radius: 8px;
        width: 100%;
        border: 1px solid #d1d5db;
        padding: 6px;
        background-color: #ffffff;

        &::placeholder {
          color: #9ca3af;
        }
      }

      > button {
        background-color: #2563eb;
        border: none;
        color: #ffffff;
        border-radius: 8px;
        padding: 6px 12px;
        cursor: pointer;
      }
    }
  }
}

.minimal.match {
  font-family: 'Roboto';
  margin-top: 24px;
  .matchForm {
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 12px;

    > h3 {
      margin: 0 0 12px 0;
    }

    .matchInputs {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .selectRow {
        display: flex;
        gap: 8px;

        select {
          flex: 1;
          border-radius: 8px;
          width: 100%;
          border: 1px solid #d1d5db;
          padding: 6px;
          background-color: #efefef;
          font-weight: 500;
        }
      }

      .scoreRow {
        display: flex;
        gap: 8px;

        input {
          border-radius: 8px;
          width: 100%;
          border: 1px solid #d1d5db;
          padding: 6px;
          background-color: #ffffff;
          font-weight: 500;

          &::placeholder {
            color: #9ca3af;
          }
        }
      }
    }
    .scoreButton {
      background-color: #2563eb;
      border: none;
      color: #ffffff;
      border-radius: 8px;
      padding: 6px 12px;
      cursor: pointer;
    }
  }
}

.helper {
  margin: 8px 0 0;
  font-size: 12px;
  color: #b91c1c;
}
